<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- dependencia a la que se le aplica un identificador para depués manipularla  -->
    <bean id="miInforme" class="es.lardevpro.IoC.Informe"/>
	
	<!-- uso de la propiedad 'scope' con el valor 'prototype' para usar el patrón de copias -->
    <bean id="miEmpleado" class="es.lardevpro.IoC.JefeEmpleado" scope="prototype">    
        <constructor-arg ref="miInforme"/>
    </bean>
	<!-- por defecto, Spring, como valor del atributo 'scope' tiene singleton  -->
    <bean id="miSecretarioEmpleado" class="es.lardevpro.IoC.SecretarioEmpleado">
        <property name="informeNuevo" ref="miInforme"/>
        
    </bean>

</beans>
